+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Azurite: The unofficial Azur Lane API" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Documentation <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		GitHub <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">API access to heaps of game and ship data. Fully open-source and self-hostable.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Azurite is a simple HTTP API that provides API access to a variety of data for Azur Lane. So far, this includes the full collection of ships, including details and statistics. 
While we provide a hosted API, Azurite is intended to be easy for anyone to run their own API service.

**This project is unofficial!** We have no association with Yostar or Manjuu and rely entirely on community resources and support.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Now includes statistics!" %}}
Ship statistics are now included for all currently available ships.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/azurite-dev/azurite" %}}
Azurite is fully open-source and welcomes community contributions and fixes! Even these docs are [open source](https://github.com/azurite-dev/azurite-docs)!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-server" title="Self Hosted" %}}
If you're looking to build with Azurite or want more control over your API, you can run your own API easily.
{{% /blocks/feature %}}


{{< /blocks/section >}}

{{< blocks/section >}}

<!-- <div class="col-12">
<h1 class="text-center"> -->
Check the documentation for more or download a release from [GitHub](https://github.com/azurite-dev/azurite).</h1>
<!-- </div> -->

{{< /blocks/section >}}
